Flask
Werkzeug
flask_cors
gunicorn
validate_email
nose
requests
argparse
uuid
flask-swagger-ui
pymongo
email_validator
bcrypt
pyjwt
authlib
google-api-python-client
google-auth
virtualenv
itsdangerous==2.0.1
google-auth-httplib2
google-auth-oauthlib
requests_oauthlib
google-cloud-pubsub
user_agents
xmltodict
microsoftgraph-python
msal